<!-- <div class="container" id="style-expansion">
  <div class="row">
    <div class="col" *ngFor="let data of dataPurchase | paginate:{ itemsPerPage: 8, currentPage: p }">
      <mat-expansion-panel class="expansion-panel-style" [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4 style="color: red">[{{ data.reference }}]</h4>&nbsp;
            <h5>{{ data.consumer.lastName }} {{ data.consumer.firstName }}</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="bloc" style="width: 18rem;">
          <img class="card-img-top" style="width: 80%;" src="../../../assets/img/command.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{data.products[0].shortLabel}}</h5>
            <p class="card-text">{{data.dateCreation | date: 'dd/MM/yyyy hh:mm:ss'}}</p>
          </div>
        </div>
        <mat-action-row *ngIf="consumer.role == 'admin'">
          <button mat-button color="warn" (click)="prevStep()">Annuler</button>
          <button mat-button color="primary" (click)="validateCommand(data)">Accepter</button>
        </mat-action-row>
      </mat-expansion-panel>
    </div>
  </div>
</div>
<br>
<pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls> -->
<!---->
<div class="mat-elevation-z8 p-5">
  <table mat-table [dataSource]="dataPurchase">

    <!-- Position Column -->
    <ng-container matColumnDef="reference">
      <th mat-header-cell *matHeaderCellDef> reference</th>
      <td mat-cell *matCellDef="let element"> {{element.reference}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let element"> {{element.consumer.lastName }} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef> Prenom </th>
      <td mat-cell *matCellDef="let element"> {{element.consumer.firstName }} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="produit">
      <th mat-header-cell *matHeaderCellDef> Produit </th>
      <td mat-cell *matCellDef="let element"> {{element.products[0].shortLabel}} </td>
    </ng-container>

    <ng-container matColumnDef="dateCreation">
      <th mat-header-cell *matHeaderCellDef> Date de creation </th>
      <td mat-cell *matCellDef="let element"> {{element.dateCreation | date: 'dd/MM/yyyy hh:mm:ss'}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="actionStyle"> Action </th>
      <td mat-cell *matCellDef="let element">
        <mat-action-row *ngIf="consumer.role == 'admin'">
          <button mat-button color="warn" (click)="cancelCommand(element)">Annuler</button>
          <button mat-button color="primary" (click)="validateCommand(element)">Accepter</button>
        </mat-action-row>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>