<div class="container">
    <div class="row">
        <div class="col-4 offset-5">
            <mat-form-field appearance="fill">
                <mat-label>Choose an option</mat-label>
                <mat-select #boxType [disabled]="disableSelect.value">
                    <mat-option value="FACTURE1">FACTURE1</mat-option>
                    <mat-option value="FACTURE2">FACTURE2</mat-option>
                    <mat-option value="FACTURE3">FACTURE3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-5">
            <mat-form-field class="example-margin example-width w-75" appearance="fill">
                <mat-label>Prix</mat-label>
                <input matInput #boxPrice type="number">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-5">
            <mat-form-field appearance="fill" class="w-75">
                <mat-label>Description</mat-label>
                <textarea matInput #boxDescription></textarea>
            </mat-form-field>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-4 offset-5">
            <button mat-button color="primary"
                (click)="addFacture(boxType.value, boxPrice.value, boxDescription.value);openDialog('0ms', '0ms')">Valider</button>
            <button mat-button color="primary">Annuler</button>
        </div>
    </div>
</div>
