<div class="card-style">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/img/iphone.png" alt="Card image cap" width="200px"
            height="200px">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">some information ...</p>
            <a href="" class="btn btn-primary"><span>
                    <mat-icon>add_shopping_cart</mat-icon> Ajouter au panier
                </span></a>
        </div>
    </div>
</div>