<div class="demand-bloc"></div>
<mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Demande
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="bloc" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/img/iphone.png" alt="Card image cap" width="200px"
            height="200px">
        <div class="card-body">
            <h5 class="card-title">Téléphone</h5>
            <p class="card-text">status : some information ...</p>
        </div>
    </div>
    <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Delete</button>
        <button mat-button color="primary" (click)="nextStep()">Accept</button>
    </mat-action-row>
</mat-expansion-panel>