<div class="card-style">
    <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="../../../assets/img/bonCommand.png" alt="Card image cap" style="width: 80% !important; ">
        <div class="card-body">
            <h5 class="card-title">{{data.reference}}</h5>
            <p class="card-text">some information ...</p>
            <div style="display: flex; justify-content:center; align-items:center;">
                <button mat-stroked-button color="warn">Annuler</button>
            </div>
        </div>
    </div>
</div>